<%- include('header')%>
    <!-- =============================================== -->
    <%- include('aside')%>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Car Showroom For Manager
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">

                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form action="/add-cars" method="POST" role="form" enctype="multipart/form-data">
                                    <legend>Nhập</legend>
                                
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="brand" name="brand" placeholder="Tên Hãng Xe">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="model" name="model" placeholder="Model">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="priceEach" name="priceEach" placeholder="Giá mỗi chiếc">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="amount" name="amount" placeholder="Số Lượng">
                                    </div>
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="publish" name="publish" placeholder="Năm Sản Xuất">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="color" name="color" placeholder="Màu">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="status" name="status" placeholder="Trạng thái">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="mileage" name="mileage" placeholder="Quãng đường đi được(mile)">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="car_descript" name="car_descript" placeholder="Mô tả xe">
                                    </div>
                                    <div class="form-group">
                                        <input type="file" onchange="readURL1(this)" class="form-control" id="logo" name = "image1" title="Image">
                                    </div>
                                    <div class="form-group">
                                        <input type="file" onchange="readURL2(this)" class="form-control" id="car_img" name = "image2" title="Image">
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-success">Lưu</button>
                                        <a href="/cars" class="btn btn-primary">Quay lại</a>
                                    </div>
                                    
                                </form>
                                
                            </div>
                            <div class="col-md-4">
                                    <a href ="#" class="thumbnail">
                                        <img id="show" src="">
                                    </a>
                            </div>
                            <div class="col-md-4">
                                <a href ="#" class="thumbnail">
                                    <img id="show2" src="">
                                </a>
                        </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include('footer')%>
        <script>
            function readURL1(input) {
                
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#show').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            function readURL2(input) {
                
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#show2').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>